# --- Python (FastAPI) ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# --- Database ---
# We negeren de database zelf zodat je lokale testdata niet online komt
*.db
*.sqlite3

# --- Node.js (React) ---
node_modules/
dist/
dist-ssr/
*.local

# --- Logs & OS ---
*.log
.DS_Store
Thumbs.db

# --- IDEs ---
.vscode/
.idea/
